{
    "env": {
        "es6": true
    },
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "extends": "airbnb-base",
    "rules": {
        "array-bracket-spacing": [
            "error",
            "always"
        ],
        "arrow-parens": [
            "error",
            "as-needed"
        ],
        "class-methods-use-this": "off",
        "comma-dangle": [
            "error",
            "never"
        ],
        "import/no-extraneous-dependencies": [
            "error",
            {
                "devDependencies": true
            }
        ],
        "indent": [
            "error",
            4
        ],
        "max-len": [
            "error",
            {
                "code": 120,
                "ignoreComments": true,
                "ignoreTrailingComments": true
            }
        ],
        "no-await-in-loop": "off",
        "no-continue": "off",
        "no-loop-func": "off",
        "no-mixed-operators": "off",
        "no-param-reassign": [
            "error",
            {
                "props": true,
                "ignorePropertyModificationsFor": [
                    "acc",
                    "e",
                    "context",
                    "ctx",
                    "req",
                    "request",
                    "res",
                    "response",
                    "$scope"
                ]
            }
        ],
        "no-prototype-builtins": "off",
        "no-restricted-properties": [
            "error",
            {
                "property": "forEach",
                "message": "Please use for..of loops instead."
            }
        ],
        "no-restricted-syntax": [
            "error",
            {
                "selector": "ForInStatement",
                "message": "for..in loops iterate over the entire prototype chain, which is virtually never what you want. Use Object.{keys,values,entries}, and iterate over the resulting array."
            },
            {
                "selector": "LabeledStatement",
                "message": "Labels are a form of GOTO; using them makes code confusing and hard to maintain and understand."
            },
            {
                "selector": "WithStatement",
                "message": "`with` is disallowed in strict mode because it makes code impossible to predict and optimize."
            }
        ],
        "no-shadow": "off",
        "object-curly-newline": [
            "error",
            {
                "consistent": true
            }
        ],
        "spaced-comment": [
            "error",
            "always",
            {
                "line": {
                    "exceptions": [
                        "-",
                        "+"
                    ],
                    "markers": [
                        "=",
                        "!"
                    ]
                },
                "block": {
                    "exceptions": [
                        "-",
                        "+",
                        "*"
                    ],
                    "markers": [
                        "=",
                        "!"
                    ],
                    "balanced": true
                }
            }
        ]
    }
}
