# All logs
*.log

# Lockfile of npm (Cessair prefer yarn to npm)
npm-shrinkwrap.json
package-lock.json

# Dependency directory
node_modules

# Transpiled library codes
libraries

# Babel configuration
.babelrc

# Dependency files for publishing
packages/*/.babelrc
packages/*/.npmignore
packages/*/cessair.js
