# All logs
*.log

# Other lockfiles
npm-shrinkwrap.json
yarn.lock

# Dependency directory
node_modules

# Released contents
releases

# Dependency files for publishing
packages/*/.babelrc
packages/*/.npmignore
