# All logs
*.log

# Other lockfiles
npm-shrinkwrap.json
yarn.lock

# Dependency directory
node_modules

# Released contents
releases

# Scripts
scripts/commands/*.js
scripts/helpers/*.js

# Dependency files for publishing
packages/*/.babelrc
packages/*/.npmignore
