{
    "extends": "../.eslintrc",
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [
                    ".js",
                    ".mjs"
                ]
            }
        },
        "import/extensions": [
            ".js",
            ".mjs"
        ]
    },
    "rules": {
        "import/extensions": [
            "error",
            "always",
            {
                "js": "never",
                "mjs": "never"
            }
        ]
    }
}
